@import url(variaveis.css);
@import url(_base.css);


body{
    background-image: 
    url('../img/Patas.png'),
    url('../img/onda-cabecalho.svg'), 
    url('../img/onda-lateral-esquerda.svg'), 
    url('../img/adopet-ilustracao.png');
    
    background-repeat: no-repeat;
    background-position: right top, left top, left center, bottom 86px center;
   
    height: 100vh;
    font-size: var(--fonte-principal);
    font-size: 16px;
    
}

.bg-azul {
    display: flex;
    flex-direction: column;
}

.cadastro {
    text-align: center;
    height: 70%;
    margin: 0 auto;
    flex: 1;
    
}

.cadastro__titulo {
    
    color: var(--azul);
    font-family: var(--fonte-secundario);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
}



form {
    
        padding: 1em;
    
}

.formulario__titulo {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza-escuro);
    
}

form {
    align-items: center;
    margin: auto;
    width: 90%;
}

.input-padrao {
    
    
    text-align: center;
    margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
    font-family: var(--fonte-principal);
    font-style: normal;
    color: var(--cinza-medio);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    background: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border: none;
  
}

.input-padrao__senha {
    background-image: url('../img/olho.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
}

.esqueci__senha {
    font-family: var(--fonte-principal);
    color: var(--vermelho);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

@media screen and (min-width: 1024px) {
    .cadastro__titulo {
    
        color: var(--azul);
        font-family: var(--fonte-principal);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        margin: 0 15em 0 15em;
    }

    .formulario__titulo {
        font-family: var(--fonte-principal);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: var(--cinza-escuro);      
    }

    form {
        align-items: center;
        margin: auto;
        width: 40%;
    }

    .input-padrao {
        font-size: 14px;
      
    }
}

@media screen and (min-width: 1728px) {
    form:nth-child(3) {
        align-items: center;
        margin: auto;
        width: 40%;
    }
     
}

