@import url(variaveis.css);
@import url(_base.css);


body{
    background-image: 
    url('../img/Patas.png'),
    url('../img/onda-cabecalho.svg'), 
    url('../img/onda-lateral-esquerda.svg'), 
    url('../img/adopet-ilustracao.png');
    
    background-repeat: no-repeat;
    background-position: right top, left top, left center, bottom 86px center;
   
    height: 100vh;
    font-size: var(--fonte-principal);
    font-size: 16px;
    
}

.bg-azul {
    display: flex;
    flex-direction: column;
}

.cadastro {
    text-align: center;
    height: 70%;
    margin: 0 auto;
    flex: 1;
    
}

.cadastro__titulo {
    
    color: var(--azul);
    font-family: var(--fonte-secundario);
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 48px;
}

.cadastro__texto {
   
    color: var(--azul);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 1em 0;
}

form {
    
        padding: 1em;
    
}

.formulario {
    
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--cinza-escuro);
    
}

form {
    width: 100%;
}

.input-padrao {
    
    display: block;
    text-align: center;
    margin: 0 0 20px;
	padding: 10px 25px;
	width: 100%;
    font-family: var(--fonte-principal);
    font-style: normal;
    color: var(--cinza-medio);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;
    background: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  
}

.input-padrao__senha {
    background-image: url('../img/olho.png');
    background-repeat: no-repeat;
    background-position: center right 10px;
}
